<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsopBqa1doxtRfjvfLFhqMIsn2k4TJfac</string>
	<key>GCM_SENDER_ID</key>
	<string>705368097694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bjj</string>
	<key>PROJECT_ID</key>
	<string>bjjtraining-964ad</string>
	<key>STORAGE_BUCKET</key>
	<string>bjjtraining-964ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705368097694:ios:2f83c2fa8d8632c194cc8f</string>
</dict>
</plist>